---
import Layout from '@layouts/Layout.astro';
import '@app/globals.css'
import { Button } from "@/components/ui/button"
---

<Layout title="Welcome to Astro.">
	<Button>Hello world</Button>
</Layout>

